@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.bg-about {
  background-image: url("./../images/background.png");
}

.img-logo {
  max-height: 50px;
}

.img-picture {
  max-width: 250px;
  width: 100%;
}
