@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.navigation-link {
  @apply px-4 py-1 mx-2 uppercase transition duration-500 ease-in-out rounded;
}

.img-logo {
  max-height: 50px;
}

.img-picture {
  max-width: 220px;
  width: 100%;
}

.form-field {
  @apply block w-full px-4 py-3 leading-tight bg-white border rounded appearance-none text-dark outline-none;
}

.form-label {
  @apply block mb-2 text-base font-light tracking-wide;
}

.vertical-timeline-element-content {
  @apply bg-light shadow-none border-t-4 border-primary;
}

.vertical-timeline-element-content-arrow {
  @apply border-transparent border-8 border-r-primary;
}

.vertical-timeline::before {
  width: 1px;
  @apply bg-dark opacity-50;
}

.vertical-timeline-element-icon {
  @apply hidden;
}

.vertical-timeline-element-content .vertical-timeline-element-date,
.vertical-timeline-element-content p {
  @apply text-base;
}

.navigation-link-active {
  @apply bg-dark bg-opacity-90 shadow-lg;
}

.slide-pane__content {
  @apply p-0;
}

.slide-pane.slide-pane_from_right {
  width: 100% !important;
}

@screen sm {
  .slide-pane.slide-pane_from_right {
    width: 90% !important;
  }
}
